* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 17px;
  background-color: #1c2260;
  color: white;
}

.search-bar {
  width: 1000px;
  height: 50px;
  background-color: rgb(196, 196, 196, 41%);
  border-radius: 10px;
  outline-style: none;
  padding: 6px;
  padding-left: 20px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 15px;
  color: white;
}

::placeholder {
  color: white;
  /* padding-left: 20px */
}

.account {
  padding-top: 15px;
}
