body {
  text-align: center;
  margin: auto;
  padding: 10px;
}
h1 {
  font-size: 50px;
  text-align: center;
  font-family: Arial;
  font-weight: normal;
  font-style: normal;
  padding-top: 10px;
}
#box1 {
  position: absolute;
  width: 200px;
  height: 30px;
  left: 535px;
  top: 135px;
  border: black;
  background: #f6eded;
}
#box2 {
  position: absolute;
  width: 200px;
  height: 30px;
  left: 535px;
  top: 180px;
  border: black;
  background: #f6eded;
}
#box3 {
  position: absolute;
  width: 100px;
  height: 30px;
  left: 590px;
  top: 230px;
  border: black;
  background-color: #e8ca61;
}
p a {
  color: blue;
}
p a:hover {
  font-style: italic;
  color: red;
}
