body {
  background-color: #acc3a6;
}

h1 {
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 0.5em 0;
  font-size: 4em;
  background-color: #acc3a6;
  margin-bottom: 1em;
  margin-top: 0;
}

li {
  color: white;
  list-style-type: none;
}

.info {
  padding: 0;
  text-align: center;
  margin: 0;
  font-size: 2.5em;
}

.info li {
  padding: 0.2em;
  border-radius: 100px;
  box-shadow: 0 8px 6px -2px black;
  background-color: #f49d6e;
  transition: all 0.5s;
  width: 15em;
}

.info li:hover {
  transform: scale(1.2);
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 249, 249, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
}

.socialMedia {
  width: 40px;
}

.social {
  display: flex;
  justify-content: center;
}
